@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    margin: 0 0 42px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100vw;
    padding-left: 142px;
    padding-right: 104px;
    padding-top: 26px;
    padding-bottom: 26px;
}
main{
    margin-top: 200px;
}
.header-small-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.header-small-menu__currency-lang-corner{
    display: flex;
    align-items: center;
}
.header-small-menu__dropdown_lang{
    display: flex;
    align-items: center;
    margin-right: 13px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.header-small-menu__dropdown_currency{
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.header-small-menu__dropdown_lang div{
    margin-right: 5.6px;
}
.header-small-menu__dropdown_currency div{
    margin-right: 5.6px;
}
.header-small-menu__profile{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
}
.header-small-menu__profile img{
    margin-right: 7px;
}
.header-small-menu_basket{
    margin: 0 35px 0 35px;
}
.header-small-menu__balance{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 7px;
    color: #262626;
    opacity: 0.5;

}
.header-small-menu__profile-corner{
    display: flex;
    align-items: center;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.header-navigation__items{
    display: flex;
}
.header-navigation__item{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-right: 97px;
    transition: 600ms;
}
.header-navigation__item:hover{
    color: #40BFFF;
    cursor: pointer;
}
.header-navigation__item:last-child{
    margin-right: 0;
}
.tab-items{
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background: #F6F7F8;
    padding: 14px 0px 14px 0px;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    top: 160px;
}
.tab-items__devider{
    margin-right: 8px;
    margin-left: 8px;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #C1C8CE;

}
.tab-active{
    color: #33A0FF;
}
.left-menu__brand-list-header {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
}
.left-menu__brand-item {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    

}
.left-menu__brand-list{
    height: 371px;
    width: 270px;
    border-radius: 0px;
    background: #F6F7F8;
    padding: 19px 20px 26px;
    border-radius: 6px;
}
.left-menu__brand-list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
}
.left-menu__brand-item{
    display: flex;
    justify-content: space-between;
}
.left-menu__brand-count{
    color: #262626;
    opacity: 0.5;
}
.left-menu{
    top: 280px;
    margin-bottom: 30px;
    position: fixed;
    margin-left: 102px;
    overflow-y: auto;
    height: 65vh;
    overflow-x: hidden;
}
.left-menu__ranger {
    height: 144px;
    width: 270px;
    border-radius: 0px;
    background: #F6F7F8;
    border-radius: 6px;
    padding: 19px 14px 28px 20px;
    margin-top: 20px;
}
.left-menu__ranger-header {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
.left-menu__ranger-controller{
    position: relative;
}
.left-menu__ranger-controller input{
    width: 100%;
    position: absolute;
    background: none;
    border: none;
    -webkit-appearance: none;
    pointer-events: none;
    top: 7px;
    z-index: 3;
}

.left-menu__ranger-controller input::-webkit-slider-thumb{
    pointer-events: all;
    -webkit-appearance: none;
    border: none;
    background-color: #2E90E5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 3px white solid;
}
.left-menu__ranger-controller-back {
    width: 100%;
    height: 4px;
    background-color: #2E90E5;
    border-radius: 6px;
    position: absolute;
    top: 13px;
    z-index: 2;
}
.left-menu__ranger-controller-border {
    width: 100%;
    height: 4px;
    background-color: #e1e2e3;
    border-radius: 6px;
    position: absolute;
    top: 13px;
    z-index: 1;
}
.goods-list{
    width: auto;
    margin-left: 400px;
    margin-top: 280px;
    margin-right: 129px;
}
.goods-list__item-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #22262A;
}
.goods-list__reveiw{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #C1C8CE;
    margin-left: 16px;

}
.goods-list__reveiw_submit{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #33A0FF;
    margin-left: 13px;
}
.devider{
    /* #F6F7F8; */
    background:#d3d3d315; 
    width: 100%;
    height: 3px;
    border-radius: 2px;
    margin-top: 17px;
    margin-bottom: 15px;
}
.goods-list__item-price{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
}

.goods-list__item-description-text{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
}
.goods-list__item-buy{
    margin-top: 25px;
    display: flex;
}
.goods-list__item-buy-button{
    height: 46px;
    width: 150px;
    background: #33a0ff28;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #33A0FF;

}
.goods-list__item-buy-button img{
    margin-right: 16px;
}
.goods-list__item-to-fav-button{
    height: 46px;
    width: 46px;
    background: #33a0ff28;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-left: 16px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #33A0FF;
}
.goods-list__item-image{
    border-radius: 5px;
    background: #f6f7f800;
    width: 300px;
    height: 270px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 16px;
}
.goods-list__item{
    display: flex;
    flex-direction: row-reverse;
}
